.*

*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

!.gitignore

modules.order
Module.symvers

.vscode/*

user-space/__pycache__/*