{
    "protectFiles": [
        {
            "importantFiles": [
                "/etc/group",
                "/etc/hosts",
                "/etc/hostname",
                "/etc/shadow",
                "/etc/passwd"
            ],
            "priority": "WARNING"
        },
        {
            "importantFiles": [
                "/home/feather/student/licenta/syscall_hooking/exploit_dataset/test_open+write/file.txt",
                "/home/feather/student/licenta/syscall_hooking/ctf_dataset/5/flag",
                "flag"
            ],
            "priority": "BLOCK"
        }
    ],
    "protectSyscalls": [
        {
            "syscall": "execve",
            "arguments": [
                "/bin/sh",
                "/bin/bash",
                "/usr/bin/sh",
                "/usr/bin/bash"
            ],
            "priority": "WARNING"
        },
        {
            "syscall": "execve",
            "arguments": [
                "/bin/zsh",
                "/usr/bin/zsh",
                "/sbin///shutdown",
                "/sbin/shutdown"
            ],
            "priority": "BLOCK"
        },
        {
            "syscall": "renameat2",
            "arguments": [
                "/bin/sh",
                "/bin/bash"
            ],
            "priority": "BLOCK"
        },
        {
            "syscall": "kill",
            "arguments": [
                "-1"
            ],
            "priority": "BLOCK"
        },
        {
            "syscall": "reboot",
            "arguments": [],
            "priority": "BLOCK"
        }
    ]
}
